.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ons-input {
width: 40% !important;
}

.ons-label {
  margin: 0.6rem 0 0.6rem !important;
}

.ons-summary__item {
  border: none !important;
}

.ons-summary__item-title, .ons-summary__values  {
  flex: 2 !important;
}

.ons-table__cell.links {
  text-align: right;
}

a.nav:link {color:#000;  font-Weight: 'normal';}
a.nav:hover {color:#000;  font-Weight: 'normal';}
a.nav:visited {color:#000;  font-Weight: 'normal';}

a.allocate:link {color:#000;  font-Weight: 'normal';}
a.allocate:hover {color:#000;  font-Weight: 'normal';}
a.allocate:visited {color:#000;  font-Weight: 'normal';}
 
a.case:link {color:#000;  font-Weight: 'normal';}
a.case:hover {color:#000;  font-Weight: 'normal';}
a.case:visited {color:#000;  font-Weight: 'normal';}

#questionnaire-accordion {margin:0 0 40px 20px;}
